# نادیده گرفتن پوشه‌های پکیج‌ها
node_modules/

# نادیده گرفتن فایل پیکربندی با اطلاعات حساس
config.json

# نادیده گرفتن فایل‌های لاگ
*.log

# نادیده گرفتن فایل‌های سیستمی موقتی
.DS_Store
Thumbs.db

# نادیده گرفتن فایل‌های محیطی (در صورت استفاده)
.env
